VITE_BASE=your-base-path
VITE_CHAT_SERVER=your-chat-server-url
VITE_CHAT_SERVER_KEY=
VITE_CUSTOMER=your-customer
VITE_PROPERTY=your-property
VITE_APP_KEY=
VITE_BOOKING_LINK=
VITE_LOGIN_LINK=
VITE_PAYMENT_LINK=
VITE_CHATBOX_TITLE=your-chatbox-title
VITE_AVATAR=
